<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>


<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>
<button type="button" class="Delete-recipe">
<%= link_to "New recipe", new_recipe_path, class: "nav-link" %>
          </button>
        



<a href="/recipes/new" class="add_new_recipe">Add new recipe</a>
</div>
<div class="all-recipes-container">
  <% @recipes.each do |recipe| %>

      <div class="recipe-container">
        <div class="recipe-name"> 
          <a href="/recipes/<%= recipe.id%>" class="name-recipe"> 
            <h3><%= recipe.name %></h3>
          </a>  
  
          <button type="button" class="Delete-recipe">
            <%= link_to 'Details', recipe_path(recipe), method: :get, class: "nav-link" %>
          </button>
        
          <%= button_to "REMOVE",recipe_path(id: recipe.id), method: :delete, class: 'Delete-recipe'  %>
        </div>
        <div class="recipe-description">
          <p class="description"><%= recipe.description %></p>
        </div>
      </div>

  <%end%>
</div>




